// Place all the styles related to the Notes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.note a {
    height: 200px;
    overflow: hidden;
    color: black;
}

.note a:hover {
    text-decoration: none;
    background-color: #F1F1F1;
}

.created_at {
    font-size: 80%;
}

