<!DOCTYPE html>
<html id="root">
  <head>
    <title>Notesapp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body id="body">
    <%= yield %>
  </body>
</html>
